*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 100%;
}
section, ul, li, a, header{
    box-sizing: border-box;
} 
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 18px;
    align-items: center;
    /*position: relative; */
}
header a{
    text-decoration: none;
    font-size: 20px;
}
#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
#menu li a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
section{
    width: 100%;
    float: left;
    height: 100vh;
}
.title{
    align-items: center;
    text-align: center;
    background-color: blue;
    padding: 60px 59px;
    margin: 0px 56px;


}
.title button{
    background-color: #fff;
}
.classes{
    align-items: center;
    text-align: center;
    
    padding: 60px 59px;
    margin: 0px 56px;


}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2.5rem;
    padding: 10px 12px;
    margin: 10px 15px;
    
}

/*nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    text-align: center;
}
nav ul li {
    float: left;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    

}